.venv  
.env


data/raw/*
!data/raw/.gitkeep
!data/raw.dvc

logs
telegram_scraper_session.session 
dbt_project/target/
dbt_project/dbt_packages/
.vscode/
.idea/
*.sqlite3
pgdata/

dbt_packages/
target/
logs/
object_detection/
yolov8n.pt
yolo_inference.cpython-310-x86_64-linux-gnu.so